@using Organics.Common
@model Organics.Models.ProductModels


<script type="text/javascript" src="@Url.Content("~/content/javascript/ckeditor/ckeditor.js")"></script>

<script type="text/javascript" src="@Url.Content("~/content/javascript/ckeditor/adapters/jquery.js")"></script>


<script type="text/javascript">
    $(document).ready(function () {
        //alert('here');
        //$('@Html.ClientIdFor(model => model.description)').ckeditor();
        CKEDITOR.replace('@Html.ClientIdFor(model => model.description)');
        //$(".adminRichText").ckeditor();
    });
    


</script>
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ProductModels</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            
            @Html.EditorFor(model => model.description, new { @id = "txtdescription" })
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.addDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.addDate)
            @Html.ValidationMessageFor(model => model.addDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.updatedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.updatedDate)
            @Html.ValidationMessageFor(model => model.updatedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.price)
            @Html.ValidationMessageFor(model => model.price)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
